<h1>Listing temperatures</h1>

<table>
  <thead>
  <tr>
    <th>Sensor</th>
    <th>From</th>
    <th>To</th>
    <th>Value</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @temperatures.each do |temperature| %>
    <tr class="<%= cycle("even","odd")%>">
      <td><%=h temperature.sensor.Name %></td>
      <td><%=h temperature.fromDttm %></td>
      <td><%=h temperature.toDttm %></td>
      <td><%=h temperature.value %></td>
      <td bgcolor="FFFFFF"><%= link_to 'Show', temperature_path(temperature) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @temperatures %>
<%= link_to 'New temperature', new_temperature_path %>
