<h1>Listing rainfalls</h1>

<table>
  <thead>
  <tr>
    <th width="100" align="left">Sensor</th>
    <th width="120" align="left">From</th>
    <th width="120" align="left">To</th>
    <th width="100" align="left">Value</th>
    <th></th>
  </tr>
  </thead>
  
  <tbody>
  <% @rainfalls.each do |rainfall| %>
    <tr bgcolor="<%= cycle(rainfall.HexColour,rainfall.DullHexColour)%>">
      <td><%=h rainfall.sensor.Name %></td>
      <td><%=h rainfall.fromDttm.strftime("%d %b %H:%M") %></td>
      <td><%=h rainfall.toDttm.strftime("%d %b %H:%M") %></td>
      <td><%=h rainfall.value %></td>
      <td bgcolor="FFFFFF"><%= link_to 'Show', rainfall_path(rainfall) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @rainfalls %>
<%= link_to 'New rainfall', new_rainfall_path %>
