<h1>Listing rainfalls</h1>

<table>
  <thead>
  <tr>
    <th>Sensor</th>
    <th>From</th>
    <th>To</th>
    <th>Value</th>
    <th></th>
  </tr>
  </thead>
  
  <tbody>
  <% @rainfalls.each do |rainfall| %>
    <tr class="<%= cycle("even","odd")%>">
      <td><%=h rainfall.sensor.Name %></td>
      <td><%=h rainfall.fromDttm %></td>
      <td><%=h rainfall.toDttm %></td>
      <td><%=h rainfall.value %></td>
      <td bgcolor="FFFFFF"><%= link_to 'Show', rainfall_path(rainfall) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @rainfalls %>
<%= link_to 'New rainfall', new_rainfall_path %>
