<h1>Weather At <%= @welcome.current_values[:weather_date] %></h1>
<%= form_for @welcome, :url => {:controller => "welcome", :action => "index"}, :html => {:multipart => true} do |f| %>
	<%= radio_button_tag :sensor, "2", @welcome.current_values[:sensor] == "2", :onclick => "this.form.submit();" %>
	<%= f.label :sensor_arduino, "Arduino" %>
	<%= radio_button_tag :sensor, "1", @welcome.current_values[:sensor] == "1", :onclick => "this.form.submit();" %>
	<%= f.label :sensor_raspi, "Raspberry Pi" %>
	<p/>
	Temperature is <%= h @welcome.current_values[:temperature] %>&deg; C
	<br/>
	Humidity is <%= h @welcome.current_values[:humidity] %>%
	<br/>
	Wind speed is <%= h @welcome.current_values[:wind_speed] %> m/s <%= h @welcome.current_values[:wind_direction] %>
	<br/>
	<p/>
	<%= h @welcome.current_values[:arduino_today].count %>
	<section id="my_id">
		<%= high_chart("my_id", @chart_data) %>
	</section>
	<p/>
	<%= f.submit "Refresh" %>
<% end %>
<script src="http://code.highcharts.com/highcharts.js"></script>  
