<h1>My weather station</h1>
<%= link_to "Sensors", controller: "sensors" %>
<%= link_to "Temperature records", controller: "temperatures" %>
<%= link_to "Humidity records", controller: "humidities" %>
<%= link_to "Wind records", controller: "winds" %>
<%= link_to "Rain records", controller: "rainfalls" %>
