<h1>Listing sensors</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @sensors.each do |sensor| %>
    <tr bgcolor="<%= cycle(sensor.HexColour,sensor.DullHexColour)%>">
      <td><%=h sensor.Name %></td>
      <td bgcolor="FFFFFF"><%= link_to 'Show', sensor_path(sensor) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @sensors %>
<%= link_to 'New sensor', new_sensor_path %>
