<h1>Listing winds</h1>

<table>
  <thead>
  <tr>
    <th>Sensor</th>
    <th>From</th>
    <th>To</th>
    <th>Direction</th>
    <th>Speed</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @winds.each do |wind| %>
    <tr bgcolor="<%= cycle(wind.HexColour,wind.DullHexColour)%>">
      <td><%=h wind.sensor.Name %></td>
      <td><%=h wind.fromDttm %></td>
      <td><%=h wind.toDttm %></td>
      <td><%=h wind.direction %></td>
      <td><%=h wind.speed %></td>
      <td bgcolor="FFFFFF"><%= link_to 'Show', wind_path(wind) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @winds %>
<%= link_to 'New wind', new_wind_path %>
