<h1>Listing winds</h1>

<table>
  <thead>
  <tr>
    <th width="100" align="left">Sensor</th>
    <th width="120" align="left">From</th>
    <th width="120" align="left">To</th>
    <th width="100" align="left">Direction</th>
    <th width="100" align="left">Speed</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @winds.each do |wind| %>
    <tr bgcolor="<%= cycle(wind.HexColour,wind.DullHexColour)%>">
      <td><%=h wind.sensor.Name %></td>
      <td><%=h wind.fromDttm.strftime("%d %b %H:%M") %></td>
      <td><%=h wind.toDttm.strftime("%d %b %H:%M") %></td>
      <td><%=h wind.direction %></td>
      <td><%=h wind.speed %></td>
      <td bgcolor="FFFFFF"><%= link_to 'Show', wind_path(wind) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @winds %>
<%= link_to 'New wind', new_wind_path %>
