<h1>Listing humidities</h1>

<table>
  <thead>
  <tr>
    <th>Sensor</th>
    <th>From</th>
    <th>To</th>
    <th>Value</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @humidities.each do |humidity| %>
    <tr bgcolor="<%= cycle(humidity.HexColour,humidity.DullHexColour)%>">
      <td><%=h humidity.sensor.Name %></td>
      <td><%=h humidity.fromDttm %></td>
      <td><%=h humidity.toDttm %></td>
      <td><%=h humidity.value %></td>
      <td bgcolor="FFFFFF"><%= link_to 'Show', humidity_path(humidity) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @humidities %>
<%= link_to 'New humidity', new_humidity_path %>
